.footer {
  display: flex;
  justify-content: space-around;
  background-color: #232f3e;
  color: white;
  padding: 30px 20px;
  flex-wrap: wrap;
  /* max-width: 2000px; */
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.payment-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.payment-icons img {
  width: 40px;
  height: auto;
  flex-wrap: wrap;
}
