.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232f3e; /* Amazon-like dark blue */
  padding: 15px 20px;
  color: white;
}

.navbar-section {
  flex: 1;
}

.navbar-section.center {
  text-align: center;
}

.navbar-title {
  margin: 0;
  font-size: 35px;
}

.navbar-link {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  transition: transform 0s ease, border 0.0s ease;
}

.navbar-link.left {
  padding: 2px 8px 2px 5px;
  font-size: 25px;
}

.navbar-link.right {
  padding: 2px 5px 2px 8px;
  float: right; /* Ensures Cart goes extreme right */
  font-size: 25px;
}

.navbar-link.left:hover,
.navbar-link.right:hover {
  box-shadow: 0 0 1px 2px white;
}

