.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #007185;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}
