.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.product-card .price {
  font-size: 25px;
}

.product-card .star-rating {
  display: flex;
  gap: 4px;
  margin: 5px 0;
}

.rating-center {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

/* .star-rating {
  display: flex;
  align-items: center;
  gap: 4px;
} */
